<p></p>
  <div style="height:2; width:120px;background-color:#fcad00; margin-bottom:10px"></div>
  <strong style="text-align:center;align-items:center; justify-content:center; align-self:center;">Equipe GymPoint</strong>
  <br>
  <small style="text-align:center;align-items:center; justify-content:center; align-self:center;">
    Se esforçe e alcançe seus objetivos!
  </small>  <br>
</div>
  <br>
</div>