<div style="background-color:	#222222;">
<div style="color:#fcad00; align-items:center; justify-content:center; align-self:center; margin: auto; font-family:Arial, Helvetica, sans-serif; font-size:50px; text-align:center; height:90px; width:100%">
  <img style="margin-top:35px; height:110px;" src="https://res.cloudinary.com/jonabf1/image/upload/v1572046094/laranja_btnfiy.png">
</div>
<div style="align-items:center;justify-content:center; align-self:center; margin: auto;color:#fff; font-family:Arial, Helvetica, sans-serif; font-size: 20px; line-height: 1.6; max-width: 600px">
 {{{body}}}
{{>footer}}
</div>
  <br>
</div>